* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: url('./assets/bg1.jpg') center no-repeat;
  background-size: cover;
}

.restart {
  position: absolute;
  padding: 15px 30px;
  font-size: 30px;
  color: white;
  background-color: green;
  border-radius: 10px;
  font-weight: bolder;
  cursor: pointer;
  top: 60%;
  left: 45%;
  z-index: 10;
  transition: 0.3s linear;
  display: none;
}

.restart.show {
  display: block;
}

.restart:hover {
  transform: scale(1.5);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
